*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: #2b7a78;
}
.container{
color: white;
height: 25rem;
width: 80%;
border: 1px solid black;
border-radius: 10px;
margin: 4rem auto;
background-color: #17252a;
}
.container>p{
    padding :6rem auto;
    margin:6rem auto;
    font-size: 2rem;
    font-weight: 500;
}
/* .home-page>button{
    font-size: 2rem;
    font-weight: 200;
} */
.my-button {
  width:10rem;
    background-color: #2b7a78;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .my-button:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  
  .my-button:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }
  
  @media (min-width: 768px) {
    .my-button {
      padding: 16px 48px;
    }
  }

.nav{
    justify-content: center;
    width: auto;
    height: 4rem;
    background-color: #def2f1;
    font-size: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.question-container{
  font-size: 1.4rem;
  display: flex;
  margin: 5rem 5rem 2rem 2rem;
  justify-content: start;
  align-items: center;
}
.question-number{
  margin: auto 1.5rem auto 0;
  width:6rem;
}
.question{
  text-align: start;
  width:100%;
}
.rating{
    width:70%;
    display: flex;
    justify-content: space-around;
    font-weight:400;
    font-size: 1rem;
    margin:5rem auto;
}
.button-box{
  display: flex;
  justify-content: space-around;
}